.alerts {
    @include flex-row();
    justify-content: flex-start;
    position: fixed;
    bottom: -320px;
    left: 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 10px #00000020;
    transition: all 0.4s;
    z-index: 9999;
    font-size: 14px;
    text-align: center;
    &_action {
        bottom: 50px;
    }
    &__icon {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        width: 24px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .alerts {
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        justify-content: flex-start;
    }
}